<main style="margin-top: 58px;"><div class="col-xl-10 margin-top">
    
    



    <div class="col-xl-10 margin-top">
        <div class="card shadow">
               <div class="card-header bg-transparent">
                      <div class="row align-items-center">
                        <div class="col">
                                 <h6 class="text-uppercase text-muted ls-1 mb-1">Update RDV</h6>
                                 
                           </div>                  
                      </div>                 
               </div>
               
               
        <div class="card-body margin-top">
        <div class="container pt-2">
    
        <form #f1="ngForm" >
            <div class="col-sm-6">
                <div class="form-group">
                  <label class="col-sm-4 control-label"><b> Id RDV</b></label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" name="idRDV" [(ngModel)]="rdv.idRDV" #idr="ngModel">
                   </div>
                </div>
            </div>
              
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-sm-4 control-label"><b> Date RDV</b></label>
            <div class="col-sm-8">
              <input type="date" class="date-start ml-5 form-control datepicker" name="dateRDV" #dr="ngModel"  [(ngModel)]="rdv.dateRDV" >
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="form-group">
            <label class="col-sm-4 control-label"><b>Duree RDV </b></label>
            <div class="col-sm-8">
              <input type="number"   class="form-control" #drd="ngModel"  name="dureeRDV" [(ngModel)]="rdv.dureeRDV">
            </div>
          </div>
        </div>
        
        
        
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-sm-4"><b>Contenu Feedback</b></label>
              <div class="col-sm-8">
                <input type="text" class="form-control"name="contenuFeedback" #cf="ngModel" [(ngModel)]="rdv.contenuFeedback">
              </div>
            </div>
    
    
    
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label col-sm-8"><b><span>Note Visite</span></b></label>
                <div class="col-sm-8">
                  <input type="number" class="form-control"name="noteVisite" #nv="ngModel" [(ngModel)]="rdv.noteVisite">
                </div>
              </div>
    
              
        
            <div class="form-group">
              <label class="control-label col-sm-10"><b>Type Feedback</b></label>
              <div class="col-sm-10">
                <select lass="dropdownlist"  #tf="ngModel" required  name="typeFeedback" [(ngModel)]="rdv.typeFeedback" >
                  <option  selected value="CHEQUE">CHEQUE</option>
                  <option value="FAVORABLE">FAVORABLE</option>
                  <option value="DEFAVORABLE">DEFAVORABLE</option>
                  <option value="NEUTRE">NEUTRE</option>    
                </select>
    
                </div>
            </div>    
               
              </div>
            </div>
          
    
          <!--<div class="col-sm-6">
            <div class="form-group">
              <label class="control-label col-sm-8"><b><span>Id visiteur</span></b></label>
              <div class="col-sm-8">
                <input type="text" class="form-control"name="visiteur" #vis="ngModel" [(ngModel)]="visitor.idUser">
                
              </div>
            </div>
            </div>-->
          
          
        
             <div class="text-center">
               <!-- <input type="submit" value="update"(click)="update(f1.value)">-->
            
            <input class="btn btn-success" type="submit" value="update"(click)="update(f1.value)">
             </div>
            <!--<button class="btn btn-primary waves-effect waves-light " id="btn-submit" (click)="ajouter(f1.value)">Ajouter</button>-->
          </form>
        
        </div>
                </div>
                </div>
          
        
          <!--<input type="hidden" name="action" id="action" value="event_dialog_add_newpartnerdata" />-->
    
    </div>
    </div>
    
    
    </main>
