<main style="margin-top: 58px;">


    <div class="col-xl-10 margin-top">
      <div class="card shadow">
             <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                      <div class="col">
                               <h6 class="text-uppercase text-muted ls-1 mb-1">Add Tranche</h6>
                               
                         </div>                  
                    </div>                 
             </div>
              <div class="card-body margin-top">
                     <!-- Chart -->
                    <!-- <div class="chart">
                        <canvas id="chart-orders" class="chart-canvas"></canvas>
                      </div>-->
  
  
  
                      <div class="container pt-4">
  
                        <form #f1="ngForm" >


                            

                              


                              
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="col-sm-4 control-label"><b>Date Echeance</b></label>
                            <div class="col-sm-8">
                              <input type="date" class="date-start ml-5 form-control datepicker" name="dateEcheance" #dd="ngModel" required [(ngModel)]="tranche.dateEcheance" >
                            </div>
                          </div>
                        </div>
                        
                        
                        
                        
                        
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label col-sm-4"><b>Montant Echeance</b></label>
                              <div class="col-sm-8">
                                <input type="number" class="form-control"name="montantEcheance" #m="ngModel" minlength="10"[(ngModel)]="tranche.montantEcheance">
                              </div>
                            </div>


                            <div class="form-group">
                              <label class="control-label col-sm-2"><b>Reference Payement</b></label>
                              <div class="col-sm-10">
                                
                                  <input type="number" class="form-control"name="referencePayement" #ref="ngModel" minlength="10"[(ngModel)]="tranche.referencePayement">
                                                            
                                
                              
                              </div>
                            </div>





                            <div class="col-sm-6">
                              <div class="form-group">
                                <label class="col-sm-4 control-label"><b>Description</b></label>
                                <div class="col-sm-8">
                                  <select lass="dropdownlist"  [(ngModel)]="tranche.description" name="description">
                                    <option  selected value="Caution">Caution</option>
                                    <option value="Loyer">Loyer</option>                                         
                                                          
                                  </select>
                                </div>
                              </div>
                            </div>





                            <div class="col-sm-12">
                              <div class="form-group">
                                <label class="control-label col-sm-2"><b>Banque</b></label>
                                <div class="col-sm-10">
                                  <select lass="dropdownlist"  #b="ngModel" required [(ngModel)]="tranche.banque" name="banque">
                                    <option  selected value="ATB">ATB</option>
                                    <option value="ATTIJARI">ATTIJARI</option>
                                    <option value="AMENBANK">AMENBANK</option>
                                    <option value="BIAT">BIAT</option>
                                    <option value="ZITOUNA">ZITOUNA</option>                            
                                    <option value="BHBANK">BHBANK</option>                            
                                    </select>       
                                
                                </div>
                              </div>                          
                            </div>









                        
                            <div class="form-group">
                              <label class="control-label col-sm-4"><b>Modalite de Payement</b></label>
                              <div class="col-sm-8">
                                <select lass="dropdownlist"  #mp="ngModel" required [(ngModel)]="tranche.modePayement" name="modePayement">
                                  <option  selected value="CHEQUE">CHEQUE</option>
                                  <option value="VIREMENT">VIREMENT</option>
                                  <option value="COMPTANT">ESPECE</option>
                                  <option value="TRAITE">TRAITE</option>
                        
                                </select>
                                <!--<input type="text" class="form-control">-->
                              </div>
                            </div>
                          </div>
                                               
                                          


                        
                        
                          
                



                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label col-sm-2"><b>Id Contrat</b></label>
                              <div class="col-sm-10">
                                <!--<input type="number" class="form-control"name="contrat" #idcontrat="ngModel" [(ngModel)]="tranche.contrat">-->
                                <select lass="dropdownlist"  #ct="ngModel" required [(ngModel)]="tranche.contrat" name="contrat">

                                <option *ngFor=" let i of contratslist" selected [ngValue]="i">{{i.idContrat}}</option>
                                  
                        
                                </select>
                              </div>
                            </div>
                          </div>
                          
                        
                          <div class="text-center">
                            <input type="submit" value="save"(click)="ajouterTranche(f1.value)">
                             </div>
                            <!--<button class="btn btn-primary waves-effect waves-light " id="btn-submit" (click)="ajouter(f1.value)">Ajouter</button>-->
                          </form></div>
                          
                        
                          <!--<input type="hidden" name="action" id="action" value="event_dialog_add_newpartnerdata" />-->
  
  
  
              </div>
      </div>
    </div>
  </main>
  
