<main style="margin-top: 58px;">


    <div class="col-xl-10 margin-top">
      <div class="card shadow">
             <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                      <div class="col">
                               <h6 class="text-uppercase text-muted ls-1 mb-1">Planifier un RDV pour visite</h6>
                               
                         </div>                  
                    </div>                 
             </div>
              <div class="card-body margin-top">
                     <!-- Chart -->
                    <!-- <div class="chart">
                        <canvas id="chart-orders" class="chart-canvas"></canvas>
                      </div>-->
  
  
  
                      <div class="container pt-4">
  
  
                        
  
  
                        <form #f1="ngForm" >
                              
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label col-sm-4"><b>Signataire</b></label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control"name="mailSignataire" #sign="ngModel" [(ngModel)]="mailSignataire" placeholder="Saisir votre email SVP!">
                              </div>
                            </div>
  
  
  
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="col-sm-4 control-label"><b> Date Rendez-vous</b></label>
                            <div class="col-sm-8">
                              <input type="date" class="date-start ml-5 form-control datepicker" name="dateRDV" #dr="ngModel" required [(ngModel)]="rdv.dateRDV" placeholder="Date RDV">
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label class="col-sm-4 control-label"><b>Durée RDV</b></label>
                            <div class="col-sm-8">
                              <input type="number"  name="datefin" class="date-end ml-5 form-control datepicker col-sm-8" #dr="ngModel" required [(ngModel)]="rdv.dureeRDV" placeholder="Durée en minutes SVP">
                            </div>
                          </div>
                        </div>
  
   
  
  
                        
                        
                        
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label class="control-label col-sm-4"><b>Contenu Feedback</b></label>
                              <div class="col-sm-8">
                                <input type="text" class="form-control"name="contenuFeedback" #m="ngModel" [(ngModel)]="rdv.contenuFeedback">
                              </div>
                            </div>
                            </div>


                        
                            <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="control-label col-sm-4"><b>Note Visite</b></label>
                                  <div class="col-sm-8">
                                    <input type="number" class="form-control"name="noteVisite" #nr="ngModel" [(ngModel)]="rdv.noteVisite">
                                  </div>
                                </div>
                                </div>
                            
                                <div class="col-sm-12">
                                    <div class="form-group">
                                      <label class="control-label col-sm-2"><b>Type Feedback</b></label>
                                      <div class="col-sm-10">
                                        <select lass="dropdownlist"  #tf="ngModel" required [(ngModel)]="rdv.typeFeedback" name="typeFeedback">
                                          <option  selected value="FAVORABLE">FAVORABLE</option>
                                          <option value="DEFAVORABLE">DEFAVORABLE</option>
                                          <option value="NEUTRE">NEUTRE</option>
                                          </select>       
                                      
                                      </div>
                                    </div>
                                  </div>
  
  
                          
                        
                          
                          
                          
                        
                          <div class="text-center">
                            <input type="submit" value="save"(click)="ajouterRdv(f1.value)">
                             </div>
</div>



                            <!--<button class="btn btn-primary waves-effect waves-light " id="btn-submit" (click)="ajouter(f1.value)">Ajouter</button>-->
                          </form>
                        
                        
                        </div>
                          </div>
                         </div>
                         </div>
                         </main> 
                        
                        
                          
                        
                          <!--<input type="hidden" name="action" id="action" value="event_dialog_add_newpartnerdata" />-->
  
  
  